%div.container
  %div.navbar
    %div.navbar-inner
      = link_to "title", '#', class: "brand"
      %ul.nav
        %li.active= link_to 'Home', '#'
        %li= link_to 'Link', '#'
        %li= link_to 'Link', '#'
%div#viz
